
{% block body %}
    <table class="table" width="100%" cellspacing="0"  style="">
        <tbody>
            <tr>
                <td style="float:left">
                    {% if certificate.logo is not null %}
                        <img src="{{ app.request.schemeAndHttpHost ~ vich_uploader_asset(certificate.logo, 'imagenFile') }}" width=180 height=150/>
                    {% endif %}
                </td>
                <td style="float:right!important">
                    {% if getCompany() is not null %}
                        <img style="float:right" src="{{ app.request.schemeAndHttpHost ~ vich_uploader_asset(getCompany().logo, 'imagenFile') }}" width=180 height=150/>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" width="100%" cellspacing="0">
        <tbody>
         <tr style="height:180px"></tr>
            <tr>
                <td style="text-align:center">
                    {% if getCompany() is not null %}
                      <h1><strong>{{getCompany().name |upper}}</strong></h1>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                      <h3>Otorga el presente</h3>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    {% if certificate.type == 'Certificado' %}
                      <h1>CERTIFICADO</h1>
                    {% elseif certificate.type == 'Diploma'%}
                        <h1>DIPLOMA</h1>
                     {% else %}
                        <h1>CERTIFICADO DE {{ certificate.type|upper }}</h1>
                    {% endif %}
                    
                </td>
            </tr>
             <tr>
                <td style="text-align:center">
                      <h3>a</h3>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                      <h2>
                      {% if user is not null%}
                        <em>{{ user.name|capitalize ~ ' '~ user.firstName|capitalize }}</em>
                      {% else %}
                        <em>________________________________________</em>
                      {% endif %}
                      </h2>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table" width="100%" cellspacing="0">
        <tbody>
             <tr style="height:80px"></tr>
                <td style="text-align:center">
                    <h3>Por haber culminado el curso {{certificate.course.title |upper }} 
                    modalidad {{ certificate.modality }} de {{ certificate.hours }} horas de duración, desde
                    el {{certificate.startDate |date("d-m-Y")}} hasta el {{ certificate.endDate |date("d-m-Y")}} </h3>
                </td>
            </tr>
            <tr style=""></tr>
                <td style="text-align:center">
                    {{'now'|date('d-m-Y')}}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" width="100%" cellspacing="0">
        <tbody>
            <tr style="height:180px"></tr>
            <tr>
                <td style="text-align:center">
                    {% if certificate.representative and certificate.representativePosition %}
                        {% if getCompany().firm is not null %}
                            <img src="{{ app.request.schemeAndHttpHost ~ vich_uploader_asset(getCompany().firm, 'imagenFile') }}" width=150 height=100/><br>
                        {% else %}
                            _________________________<br>
                        {% endif %}
                         {{certificate.representative}} <br>
                         {{certificate.representativePosition}} <br>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if certificate.trainerName and certificate.trainerPosition %}
                        {% if certificate.firm is not null %}
                            <img src="{{ app.request.schemeAndHttpHost ~ vich_uploader_asset(certificate.firm, 'imagenFile') }}" width=150 height=100/><br>
                        {% else %}
                            _________________________<br>
                        {% endif %}
                         {{certificate.trainerName}} <br>
                         {{certificate.trainerPosition}} <br>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" width="100%" cellspacing="0">
        <tbody>
            <tr style="height:180px"></tr>
            <tr>
                <td style="text-align:right">
                    {% if certificate.containsResolution %}
                        Resolución: {{certificate.containsResolution}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
