{% extends 'base.html.twig' %}
{% block main %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}

	<div class="container-fluid">
		{{ form_start(form) }}
        <div class="row">
        	<div class="offset-3 col-md-6 justify-center">
				<div class="card text-center  pt-4 mx-auto">
					<img class="card-img-top mx-auto"  style="width: 18rem;" src="{{ vich_uploader_asset(getCompany().logo,'imagenFile') }}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Registro</h5>
					</div>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="offset-3 col-md-6 justify-center">
				<div class="card bg-light mb-3 ">
					<div class="card-body">
						<div class="card-header mb-3">Datos personales</div>
						<div class="form_group">
							<div class="row">
								<div class="col-md-6 mb-3">
									{{form_label(form.name)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-user"></i>
										</span>
										{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								<div class="col-md-6 mb-3">
									{{form_label(form.firstName)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-user"></i>
										</span>
										{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form_group">
							<div class="row">
								<div class="col-md-6 mb-3">
									{{form_label(form.username)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-user"></i>
										</span>
										{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								<div class="col-md-6 mb-3">
									{{form_label(form.email)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-envelope"></i>
										</span>
										{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
						</div>

						<div class="form_group">
							<div class="row">
								<div class="col-md-6 mb-3">
									{{form_label(form.scoholName)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-school"></i>
										</span>
										{{ form_widget(form.scoholName, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								<div class="col-md-6 mb-3">
									{{form_label(form.country)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-flag"></i>
										</span>
										{{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form_group">
							<div class="row">
								<div id="province-container" class="col-md-6 mb-3">
									{{form_label(form.city)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-map"></i>
										</span>
										{{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								<div class="col-md-6 mb-3">
									{{form_label(form.canton)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-city"></i>
										</span>
										{{ form_widget(form.canton, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
						</div>
						<div class="form_group">
							<div class="row">
								<div class="col-md-6 mb-3">
									{{form_label(form.password.first)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-key"></i>
										</span>
										{{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
								<div class="col-md-6 mb-3">
									{{form_label(form.password.second)}}
									<div class="input-group flex-nowrap">
										<span class="input-group-text" id="addon-wrapping">
											<i class="fa fa-key"></i>
										</span>
										{{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>
							</div>
						</div>

						<div class="form_group">
							<div class="col-md-6 mb-3">
								{{ form_row(form.roles) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="student" class="col-md-6 offset-3 d-none">
					<div class="card bg-light mb-3 mt-3">
						<div class="card-body">
							<div class="card-header mb-3">Datos del estudiante</div>
							<div class="form_group">
								<div class="row">
									<div class="col-md-6 mb-3">
										{{form_label(form.student.brithday)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-calendar"></i>
											</span>
											{{ form_widget(form.student.brithday, {'attr': {'class': 'student'}}) }}
										</div>
									</div>
									<div class="col-md-6 mb-3">
										{{form_label(form.student.mentorName)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-users"></i>
											</span>
											{{ form_widget(form.student.mentorName, {'attr': {'class': 'student'}}) }}
										</div>
									</div>
								</div>
							</div>

							<div class="form_group">
								<div class="row">
									<div class="col-md-6 mb-3">
										{{form_label(form.student.mentorFirstName)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-users"></i>
											</span>
											{{ form_widget(form.student.mentorFirstName, {'attr': {'class': 'student'}}) }}
										</div>
									</div>
									<div class="col-md-6 mb-3">
										{{form_label(form.student.mentorLastName)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-users"></i>
											</span>
											{{ form_widget(form.student.mentorLastName, {'attr': {'class': 'student'}}) }}
										</div>
									</div>
								</div>
							</div>

							<div class="form_group">
								<div class="row">
									{# <div class="col-md-6 mb-3">
										{{form_label(form.student.mentorDNI)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-id-card"></i>
											</span>
											{{ form_widget(form.student.mentorDNI, {'attr': {'class': 'student'}}) }}
										</div>
									</div> #}
									<div class="col-md-6 mb-3">
										{{form_label(form.student.mentorPhone)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-mobile"></i>
											</span>
											{{ form_widget(form.student.mentorPhone, {'attr': {'class': 'student'}}) }}
										</div>
									</div>
								</div>
							</div>
							<i id="student-link"></i>
						</div>
					</div>
				</div>
				<div id="teacher" class="offset-3  col-md-6 d-none">
					<div class="card bg-light mb-3 mt-3">
						<div class="card-body">
							<div class="card-header mb-3">Datos del Profesor</div>
							<div class="form_group">
								<div class="row">
									<div class="col-md-6 mb-3">
										{{form_label(form.profesor.dni)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-envelope"></i>
											</span>
											{{ form_widget(form.profesor.dni, {'attr': {'class': 'profesor'}}) }}
										</div>
									</div>
									<div class="col-md-6 mb-3">
										{{form_label(form.profesor.phone)}}
										<div class="input-group flex-nowrap">
											<span class="input-group-text" id="addon-wrapping">
												<i class="fa fa-envelope"></i>
											</span>
											{{ form_widget(form.profesor.phone, {'attr': {'class': 'profesor'}}) }}
											<i id="profesor-link"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-3 text-center">
					<div class="form-group">
						<div class="col-md-12" style="margin-top:5px;">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-btn fa-user"></i>
								Registrarse
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('registration.index') }}
{% endblock %}
