{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav id="sidebar" class="sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="{{ path('app_home_page') }}">
			<span class="align-middle">{{ render('app_cpmpany_name') }}</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Páginas
			</li>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<li class="sidebar-item {% if currentPath == path('admin') %}active{% endif %}">
					<a class="sidebar-link" href="{{ path('admin') }}">
						<i class="align-middle" data-feather="sliders"></i>
						<span class="align-middle">Dashboard</span>
					</a>
				</li>
			{% elseif is_granted('IS_AUTHENTICATED_FULLY')  %}

				<li class="sidebar-item {% if currentPath == path('user_dashboard') %}active{% endif %}">
					<a class="sidebar-link" href="{{ path('user_dashboard') }}">
						<i class="align-middle" data-feather="sliders"></i>
						<span class="align-middle">Mis Textos</span>
					</a>
				</li>

				<li class="sidebar-item {% if currentPath == path('my_codes') %}active{% endif %}">
					<a class="sidebar-link" href="{{ path('my_codes') }}">
						<i class="align-middle" data-feather="shopping-cart"></i>
						<span class="align-middle">Mis Códigos</span>
					</a>
				</li>

				<li class="sidebar-item {% if currentPath == path('user_profile', {'uuid':app.user.uuid}) %}active{% endif %}">
					<a class="sidebar-link" href="{{ path('user_profile', {'uuid': app.user.uuid}) }}">
						<i class="align-middle" data-feather="user"></i>
						<span class="align-middle">Perfil</span>
					</a>
				</li>

			{% endif %}

			{% if is_granted('ROLE_SUPER_ADMIN') %}

				<li class="sidebar-item {% if currentPath == path('role_index') %}active{% endif %}">
					<a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="settings"></i>
						<span class="align-middle">Configuración</span>
					</a>
					<ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('system_company') }}">Configuración del sistema</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('system_config') }}">Términos y condiciones</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('role_index') }}">Roles</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('user_index') }}">Permisos</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('code_index') }}">Códigos</a>
						</li>
					</ul>
				</li>

				<li class="sidebar-item {% if currentPath == path('role_index') %}active{% endif %}">
					<a href="#catalogos" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="list"></i>
						<span class="align-middle">Catálogos</span>
					</a>
					<ul id="catalogos" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('category_index') }}">Categorías</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('school_stage_index') }}">Etapa escolar</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('level_index') }}">Nivel</a>
						</li>
					</ul>
				</li>

			{% endif %}


			{% if is_granted('ROLE_ADMIN') %}

				<li class="sidebar-item {% if currentPath == path('book_index') %}active{% endif %}">
					<a href="#textos" data-toggle="collapse" class="sidebar-link collapsed">
						<i class="align-middle" data-feather="book"></i>
						<span class="align-middle">Ingreso de textos</span>
					</a>
					<ul id="textos" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('book_index') }}">Textos</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{{ path('unit_index') }}">Unidades</a>
						</li>
					</ul>
				</li>

			{% endif %}

			{# <li class="sidebar-item">
							<a class="sidebar-link" href="pages-settings.html">
								<i class="align-middle" data-feather="settings"></i>
								<span class="align-middle">Settings</span>
							</a>
						</li>
			
						<li class="sidebar-item">
							<a class="sidebar-link" href="pages-invoice.html">
								<i class="align-middle" data-feather="credit-card"></i>
								<span class="align-middle">Invoice</span>
							</a>
						</li>
			
						<li class="sidebar-item">
							<a class="sidebar-link" href="pages-blank.html">
								<i class="align-middle" data-feather="book"></i>
								<span class="align-middle">Blank</span>
							</a>
						</li> #}

		</ul>
	</div>
</nav>

<div class="main">
	{{ include('partials/top-menu.html.twig') }}
