{{ form_start(form) }}
    {{ form_widget(form) }}
    </br>
    <button class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"> <i class="fa fa-plus"></i>{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
