{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    {{card_macro.card_title('<h2>Editar categoría</h2>')}}

    {{ form_start(form) }}
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">{{ form_row(form.name)}}</div>

				<div class="col-md-2 col-sm-12 mt-3">
					<button class="btn" style="background-color: {{ colors()['primary'] }}; color:white;">
						<i class="fa fa-save"></i>
						{{ button_label|default('Adicionar') }}</button>
				</div>
				<div class="col-md-2 col-sm-12 mt-3">
					<a href="{{ path('category_index') }}" class="btn" style="background-color: {{ colors()['secondary'] }}; color:white;">
						<i class="fa fa-arrow-left"></i>
						Regresar</a>
				</div>
                <div class="col-md-2 col-sm-12 mt-3">
{#                    {{ include('category/_delete_form.html.twig') }}#}
                </div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
