{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="card">
	<div class="card-header">
		<h1 class="card-title">Registro de activación</h1>
	</div>
	<div class="card-body">
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-12 mb-3">{{ form_row(form.book)}}</div>
			<div class="col-md-6">{{ form_row(form.starDate)}}</div>
			<div class="col-md-6">{{ form_row(form.totalDays)}}</div>
            <div class="col-md-6">{{ form_row(form.total)}}</div>
			<div class="col-md-6 pt-4">{{ form_row(form.unlimited)}}</div>
            <div class="col-md-12 pt-4">
                <button type="submit" class="btn btn-primary"> <i class="fa fa-plus-circle"></i> Generar</button>
            </div>
		</div>
		{{ form_end(form) }}
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
        $("#form_starDate").datepicker({format: "DD/MM/YYYY", changeYear: true, yearRange: "-100:+0"});

        $('form[name="form"]').on('submit', function (event) {
            const form = $(this)
            app.forms.submit(form, function (response) {
                if (response.type === 'success') {
                   toastr.success(response.message);
                    app.dialogs.close(form);
                    $('#sg-datatables-code-datatable').DataTable().ajax.reload();
                } else {

                }
            }, event);
        })
    })
</script>
