{% extends 'layout.html.twig' %}
{% form_theme formCompany 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {{ form_start(formCompany) }}
    <div class="row">
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.name) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.country) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.city) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.address) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.phone) }}</div>
        <div class="col-md-6 col-sm-12">{{ form_row(formCompany.email) }}</div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-6 pt-3">
                    <img src="{% if company.logo %}{{ vich_uploader_asset(company.logo,'imagenFile') }}{% endif %}" width="120" height="100" alt="">
                </div>
                <div class="col-md-6">
                    {{ form_row(formCompany.logo) }}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-3">{{ form_row(formCompany.visible) }}</div>
        <div class="col-md-12 col-sm-12 pt-3">
            <div class="row">
                <div class="col-md-2">{{ form_row(formCompany.identity.colorPrimary, {'help_attr': {'class': 'text-primary'}}) }}</div>
                <div class="col-md-2">{{ form_row(formCompany.identity.colorSecondary, {'help_attr': {'class': 'text-secondary'}}) }}</div>
                <div class="col-md-2">{{ form_row(formCompany.identity.colorSuccess, {'help_attr': {'class': 'text-success'}}) }}</div>
                <div class="col-md-2">{{ form_row(formCompany.identity.colorWarning, {'help_attr': {'class': 'text-warning'}}) }}</div>
                <div class="col-md-2">{{ form_row(formCompany.identity.colorInfo, {'help_attr': {'class': 'text-info'}}) }}</div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pt-3">
            <div class="row">
                <div class="col-md-4">{{ form_row(formCompany.socialNetworks.facebook) }}</div>
                <div class="col-md-4">{{ form_row(formCompany.socialNetworks.twitter) }}</div>
                <div class="col-md-4">{{ form_row(formCompany.socialNetworks.instagram) }}</div>
            </div>
        </div>
        <div class="col-md-6 pt-3">
            <button type="submit" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
    {{ form_end(formCompany) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(function (){
            $('.text-muted').map(function (){
                $(this).removeClass('text-muted');
            })
        })
    </script>
{% endblock %}
