{% extends 'layout.html.twig' %}

{% block title %}Listado de cantónes{% endblock %}

{% block body %}
    <h1>Listado de cantónes</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for canton in cantons %}
            <tr>
                <td>{{ canton.nombre }}</td>
                <td>
                    <a href="{{ path('canton_edit', {'id': canton.id}) }}" class="btn" style="background-color: {{ colors()['warning'] }}; color:white;"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('canton_new') }}" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-save"></i> Nuevo</a>
{% endblock %}
