{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="row">
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-info">
				<div class="inner">
					<h3>{{ books }}</h3>
					<p class="text-uppercase">Total de cursos</p>
				</div>
				<div class="icon">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				<a href="{{ path('book_index') }}" class="small-box-footer">Ir al listado
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-success">
				<div class="inner">
					<h3>{{ users }}</h3>
					<p class="text-uppercase">Usuarios registrados</p>
				</div>
				<div class="icon">
					<i class="fas fa-users"></i>
				</div>
				<a href="{{ path('user_index') }}" class="small-box-footer">Ir al listado
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-warning">
				<div class="inner">
					<h3>{{ booksActived }}</h3>
					<p class="text-uppercase">Activados</p>
				</div>
				<div class="icon">
					<i class="fas fa-book-reader"></i>
				</div>
				<a href="{{ path('code_index',{page:'active'}) }}" class="small-box-footer">Ir al listado
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div
			class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-danger">
				<div class="inner">
					<h3>{{ booksExpired }}</h3>
					<p class="text-uppercase">Vencidos</p>
				</div>
				<div class="icon">
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				</div>
				<a href="{{ path('code_index',{page:'expired'}) }}" class="small-box-footer">Ir al listado
					<i class="fas fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
	</div>
{% endblock %}
