{{ form_start(form) }}
<div class="row">
	<div class="col-md-4 col-sm-12">{{ form_row(form.title)}}
	</div>
	<div class="col-md-4 col-sm-12">{{ form_row(form.source)}}
	</div>
	<div class="col-md-4 col-sm-12">{{ form_row(form.category)}}
	</div>
	<div class="col-md-4 col-sm-12">{{ form_row(form.stage)}}
	</div>
	<div class="col-md-4 col-sm-12">{{ form_row(form.level)}}
	</div>
	<div class="col-md-4 col-sm-6 mt-4 text-center">{{ form_row(form.free)}}
						</div>

	<div class="col-md-4 col-sm-12">{{ form_row(form.portada)}}</div>
	<div class="col-md-4 col-sm-12">{{ form_row(form.banner)}}</div>
	<div class="col-md-12 col-sm-12 mt-3">{{ form_row(form.metadata.introduction)}}</div>
	<div class="col-md-12 col-sm-12 mt-3">{{ form_row(form.metadata.curriculum)}}</div>
	<div class="col-md-12 col-sm-12 mt-3">{{ form_row(form.metadata.aboutAuthor)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.author)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.dedication)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.language)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.transcription)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.learning)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.intitution.na me)}}</div>
	<div class="col-md-4 col-sm-12 mt-3">{{ form_row(form.metadata.intitution.web)}}</div>

</div>
<button class="btn mt-3" style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-save"></i> {{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
