{% extends 'layout.html.twig' %}

{% block title %}
	{{book.title}}
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					{% if book.banner %}
						<img class="card-img-top" src="{{ vich_uploader_asset(book.banner , 'imagenFile') }}"  style="height:350px!important">
					{% endif %}
					<div class="card-header">
						<h3 class="mb-0"><strong>{{ book.title|upper }}</strong></h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<h3>Dirigido a</h3>
								<p class="card-text">{{ book.source|join(', ')}}</p>
							</div>
							<div class="col-md-4 text-left">
								<h3 class="card-text">Activación del libro
								<strong>{{ book.title }}</strong></h3>
								<form id="form" class="row g-3 needs-validation" novalidate>
									<div class="input-group mb-3">
										<input id="code" type="text" required class="form-control" placeholder="Pegue aquí su código de activacion" aria-label="Recipient's username" aria-describedby="basic-addon2">
										<div class="invalid-feedback">
											Introduzca su código de activación
										</div>
										<a href="#" id="activate" class="input-group-append">
											<span class="input-group-text" id="basic-addon2">Activar</span>
										</a>
									</div>
								</form>
							</div>
							<div class="col-md-5 text-center">
								<h3 class="card-text">¿No tienes un código de activación?</h3>
								{% if book.codes|length > 0  %}
									{% if book.codes[0].salesData is defined  %}
										{% if book.codes[0].salesData.financialDetails is defined  %}
											{% if book.codes[0].salesData.financialDetails.paypalHtmlCode is defined  %}
												{% set details = book.codes[0].salesData.financialDetails %}
												{{ book.codes[0].salesData.financialDetails.paypalHtmlCode|raw  }}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}

							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<hr>
								<h4>Otras opciones de pago</h4>
								<h5><i class="fa fa-check-circle text-success"></i> Transferencia</h5>
								<table>
									<tr>
										<td><strong>Nombre de la cuenta :</strong></td>
										<td>{{ details is defined ? details.acountName }}</td>

										<td class="pl-5"><strong>Número de la cuenta :</strong></td>
										<td>{{ details is defined ? details.acountNumber }}</td>

										<td class="pl-5"><strong>Documento de identidad :</strong></td>
										<td>{{ details is defined ? details.dni }}</td>
									</tr>
									<tr>
										<td><strong>Institución financiera :</strong></td>
										<td>{{ details is defined ? details.intitution }}</td>

										<td class="pl-5"><strong>Tipo de cuenta :</strong></td>
										<td>{{ details is defined ? details.acountType }}</td>

										<td class="pl-5"><strong>Contacto :</strong></td>
										<td>{{ details is defined ? details.contact }}</td>
									</tr>
								</table>
								<p class="text-muted mt-3"><i class="fa fa-check text-info"></i> La transferencia deberá ser enviada al correo de contacto.
									<br>
									El código será enviado una vez cofirmada la transferencia en un máximo de 24 horas laborables
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h3><strong>Introducción</strong></h3>
					</div>
					<div class="card-body">
						{{book.metadata ? book.metadata.introduction|raw : ''}}
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h3><strong>Plan de estudios</strong></h3>
					</div>
					<div class="card-body">
					{{book.metadata ? book.metadata.curriculum|raw : ''}}
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h3><strong>Sobre el autor</strong></h3>
					</div>
					<div class="card-body">
					{{book.metadata ? book.metadata.aboutAuthor|raw : ''}}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<p>
											<i class="fa fa-home"></i>
											Dedicación</p>
									</div>
									<div class="col-md-6">
										{{book.metadata ? book.metadata.dedication : ''}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-university"></i>
											Institución</p>
									</div>
									<div class="col-md-6">
										<a target="_blank" href="{{ book.metadata ? book.metadata.intitution.web | external_link : '#'}}">
											{{  book.metadata ? book.metadata.intitution.name : ''}}
										</a>
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-list-alt"></i>
											Categoría</p>
									</div>
									<div class="col-md-6">
										{{book.category}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-arrow-up"></i>
											Nivel</p>
									</div>
									<div class="col-md-6">
										{{book.level}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-language"></i>
											Lenguaje</p>
									</div>
									<div class="col-md-6">
										{{ book.metadata ? book.metadata.language : ''}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-video"></i>
											Idioma del video</p>
									</div>
									<div class="col-md-6">
										{{ book.metadata ? book.metadata.transcription :''}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-users"></i>
											Forma de estudio</p>
									</div>
									<div class="col-md-6">
										{{ book.metadata ? book.metadata.learning : ''}}
									</div>

									<div class="col-md-6">
										<p>
											<i class="fa fa-user"></i>
											Autor</p>
									</div>
									<div class="col-md-6">
										{{ book.metadata ? book.metadata.author : ''}}
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$('#activate').on('click', function(event){
				event.preventDefault();
				 $('#form').addClass('was-validated')
				const scope = $(this);
				let code = $('#code').val()
				let uuid = '{{ book.uuid }}';
				 $.ajax({
					 url: Routing.generate('book_activate',{uuid: uuid }),
					 data: {
						 code: code,
					 },
					 type: 'POST',
					 success: function(response){
						 if(response.type == 'success')
							{
								toastr.success(response.message);
								window.location.replace("{{ path('book_show',{uuid:book.uuid}) }}");
							}
							else{
								toastr.error(response.message);
							}
					 },
				 })
			})
		})
	</script>
{% endblock %}
