{% extends 'layout.html.twig' %}

{% block title %}
	{{book.title}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ book.title }}</h1>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card">
					<img class="card-img-top" src="{{ vich_uploader_asset(book.portada , 'imagenFile') }}" alt="Unsplash">
					<div class="card-header">
						<h5 class="card-title mb-0">{{ book.title }}</h5>
					</div>
					<div class="card-body">
						<p class="card-text">{{ book.level }}</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h1 class="card-text">Activación del libro
							<strong>{{ book.title }}</strong></h1>
					</div>
					<div class="card-body">
						<form id="form" class="row g-3 needs-validation" novalidate>
							<div class="input-group mb-3">
								<input id="code" type="text" required class="form-control" placeholder="Pegue aquí su código de activacion" aria-label="Recipient's username" aria-describedby="basic-addon2">
								 <div class="invalid-feedback">
									Introduzca su código de activación
								</div>
								<a href="#" id="activate" class="input-group-append">
									<span class="input-group-text" id="basic-addon2">Activar</span>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$('#activate').on('click', function(event){
				event.preventDefault();
				 $('#form').addClass('was-validated')
				const scope = $(this);
				let code = $('#code').val()
				let uuid = '{{ book.uuid }}';
				 $.ajax({
					 url: Routing.generate('book_activate',{uuid: uuid }),
					 data: {
						 code: code,
					 },
					 type: 'POST',
					 success: function(response){
						 if(response.type == 'success')
							{
								toastr.success(response.message);
								window.location.replace("{{ path('book_show',{uuid:book.uuid}) }}");
							}
							else{
								toastr.error(response.message);
							}
					 },
				 })
			})
		})
	</script>
{% endblock %}
