{% extends 'layout.html.twig' %}

{% block main %}
	{% include 'partials/top-menu.html.twig' ignore missing with {'page': 'annoni'}  %}

	<main class="container pt-2">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					{% if book.banner %}
						<img class="card-img-top" src="{{ vich_uploader_asset(book.banner , 'imagenFile') }}" style="height:350px!important">
					{% endif %}
					<div class="card-header">
						<h3 class="mb-0" style="color: {{ colors()['success'] }};">
							<strong>{{ book.title|upper }}</strong>
						</h3>
					</div>
				</div>
			</div>
					<div class="row">
						<div class="col-md-8">
							<div class="card">
								<div class="card-header">
									<h3>
										<strong>Introducción</strong>
									</h3>
								</div>
								<div class="card-body">
									{{book.metadata ? book.metadata.introduction|raw : ''}}
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<h3>
										<strong>Plan de estudios</strong>
									</h3>
								</div>
								<div class="card-body">
									{{book.metadata ? book.metadata.curriculum|raw : ''}}
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<h3>
										<strong>Sobre el autor</strong>
									</h3>
								</div>
								<div class="card-body">
									{{book.metadata ? book.metadata.aboutAuthor|raw : ''}}
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<p>
												<i class="fa fa-home"></i>
												Dedicación</p>
										</div>
										<div class="col-md-6">
											{{book.metadata ? book.metadata.dedication : ''}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-university"></i>
												Institución</p>
										</div>
										<div class="col-md-6">
											<a target="_blank" href="{{ book.metadata ? book.metadata.intitution.web | external_link : '#'}}">
												{{  book.metadata ? book.metadata.intitution.name : ''}}
											</a>
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-list-alt"></i>
												Categoría</p>
										</div>
										<div class="col-md-6">
											{{book.category}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-arrow-up"></i>
												Nivel</p>
										</div>
										<div class="col-md-6">
											{{book.level}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-language"></i>
												Lenguaje</p>
										</div>
										<div class="col-md-6">
											{{ book.metadata ? book.metadata.language : ''}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-video"></i>
												Idioma del video</p>
										</div>
										<div class="col-md-6">
											{{ book.metadata ? book.metadata.transcription :''}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-users"></i>
												Forma de estudio</p>
										</div>
										<div class="col-md-6">
											{{ book.metadata ? book.metadata.learning : ''}}
										</div>

										<div class="col-md-6">
											<p>
												<i class="fa fa-user"></i>
												Autor</p>
										</div>
										<div class="col-md-6">
											{{ book.metadata ? book.metadata.author : ''}}
										</div>

										<div class="col-md-12 text-center">
											<hr>
											<a href="{{ path('book_activate', {'uuid': book.uuid}) }}" class="btn btn-success"> <i class="fa fa-shopping-cart"></i> Adquirir</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
