{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% block title %}New Book{% endblock %}

{% block body %}
    {{card_macro.card_title('<h2><i class="fa fa-plus-circle"> </i> Nuevo texto</h2>')}}

    <div class="card">
		<div class="card-body">
         {{ include('book/_form.html.twig') }}<br>
         <a href="{{ path('book_index') }}" class="btn" style="background-color: {{ colors()['secondary'] }}; color:white;"> <i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
   {{ encore_entry_script_tags('book.form') }}
{% endblock %}
