<table class="table table-hover">
	{% for a in all %}
		<tr>
			<td style="width: 60px!important;"  class="trext-center">
				<a href="{{path('remove-activity',{id:a.id})}}" class="remove text-danger">
					<i class="fa fa-times-circle"></i>
				</a>
				<a href="{{path('update-activity',{id:a.id})}}" class="action text-success">
					<i class="fa fa-edit"></i>
				</a>
			</td>
			<td  style="width: 50px!important;" class="trext-left">
				{% if a.type == 'Youtube' %}
					<img src="{{ asset('build/images/icons/youtube.png') }}" width="24" height="24" style="margin-left: 0" alt="">
				{% elseif a.type == 'Audio' %}
					<img src="{{ asset('build/images/icons/audio.png') }}" width="24" height="24" style="margin-left: 0" alt="">
				{% elseif a.type == 'Genially' %}
					<img src="{{ asset('build/images/icons/url.png') }}" width="24" height="24" style="margin-left: 0" alt="">
				{% elseif a.type == 'Video' %}
					<img src="{{ asset('build/images/icons/video.png') }}" width="24" height="24" style="margin-left: 0" alt="">
				{% else %}
					<img src="{{ asset('build/images/icons/file.png') }}" width="24" height="24" style="margin-left: 0" alt="">
				{% endif %}
			</td>
			<td class="trext-left">{{ a.name }}</td>
		</tr>
	{% endfor %}
</table>


<script type="text/javascript">
	$(document).ready(function () {
		$('.action').on('click', function (event) {
			event.preventDefault();
			const scope = $(this)
			app.dialogs.create({
				url: scope.attr('href'),
				containerFluid:true,
          		columnClass:'col-md-8 col-md-offset-2'
			})
		})

		$('.remove').on('click', function (event) {
			event.preventDefault();
			const scope = $(this)
			app.dialogs.confirm({onAccept: function () {
				$.ajax({
					url:scope.attr('href'),
					success: function(response) {
						$.alert({
							title: 'Información',
    						content: response.message,
						})
						app.unit.form.updateActivities();
					}
				})
			}})
		})
	})
</script>
