{% form_theme form 'bootstrap_4_layout.html.twig' 'jquery.collection.html.twig' 'theme_templates/theme.unit.html.twig' %}
<div class="container">
    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-7">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-5">
                            {{ form_row(form.page) }}
                        </div>
                            <div class="col-md-12">
                            {% if activity.type == 'Youtube' or activity.type == 'Genially' %}
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                            Youtube
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="code-tab" data-toggle="tab" href="#code-users" role="tab" aria-controls="profile" aria-selected="false">
                                            Youtube interactivo
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade  show active p-1" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                {{ form_row(form.url) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-1" id="code-users" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div id="tab-2" class="card-body">
                                                {{ form_row(form.code) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 mt-5 pl-4">
                <button type="submit" class="btn mt-5"  style="background-color: {{ colors()['primary'] }}; color:white;">
                    <i class="fa fa-plus-circle"></i>
                    Adicionar
                </button>
                <a href="#" class="btn btn-danger mt-5">
                    <i class="fa fa-times-circle"></i>
                    Cerrar
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vista previa</div>
                <div id="preview" class="card-body border border-primary text-center" style="height:280px!important">
                    {% if activity.type == 'Video'  %}
                        <video style='width:100%; height:100%' src="{{ vich_uploader_asset(activity.file, 'imagenFile') }}"></video>
                    {% endif %}
                    {% if activity.type == 'Audio' %}
                        <audio style='width:100%; height:100%'
                               src="{{ vich_uploader_asset(activity.file, 'imagenFile') }}"></audio>
                    {% endif %}
                    {% if activity.type == 'Genially' %}
                       <iframe style='width:100%; height:100%' src="{{ activity.url }}"></iframe>
                    {% endif %}
                    {% if activity.type == 'Archivo' %}
                        <iframe style='width:100%; height:100%' src="{{ vich_uploader_asset(activity.file, 'imagenFile') }}"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#activity_url').on('change', function (event) {
            const scope = $('#activity_url');

            if (scope.hasClass('youtube') && isUrlValid(scope.val())) {
                var id = getId(scope.val());
                var newElement = "<iframe style='width:100%; height:100%'  src='//www.youtube.com/embed/" + id + "'></iframe>";
                $('#preview').html('').append(newElement);
            } else if (scope.val() && isUrlValid(scope.val())) {
                var newElement = "<iframe style='width:100%; height:100%'  src='" + scope.val() + "'></iframe>";
                $('#preview').html('').append(newElement);
            }
        });
        const scope = $('#activity_url');

        if (scope.hasClass('youtube') && isUrlValid(scope.val())) {
            var id = getId(scope.val());
            var newElement = "<iframe style='width:100%; height:100%'  src='//www.youtube.com/embed/" + id + "'></iframe>";
            $('#preview').html('').append(newElement);
        } else if (scope.val() && isUrlValid(scope.val())) {
            var newElement = "<iframe style='width:100%; height:100%'  src='" + scope.val() + "'></iframe>";
            $('#preview').html('').append(newElement);
        }

        const code = $('.code');
        if(code){
            $('#preview').html(code.val())
        }
    

        $('form[name="activity"]').on('submit', function (event) {
            const form = $(this)
            app.forms.submit(form, function (response) {
                if (response.type === 'success') {
                    $.alert({
                        title: 'Información',
                        content: response.message,
                    });
                    app.unit.form.updateActivities();
                    app.dialogs.close(form);
                } else {

                }
            }, event);
        })

    });

    $('.audio-file').fileinput({
        showCaption: true,
        showPreview: false,
        showUploadedThumbs: false,
        showUpload: false,
        showCancel: false,
        showRemove: false,
        allowedFileExtensions: ['mp3', 'wav'],
        browseLabel: '&nbsp;Importar',
        browseIcon: '<i class="fa fa-upload"></i>&nbsp;'
    });
    $('.video-file').fileinput({
        showCaption: true,
        showPreview: false,
        showUploadedThumbs: false,
        showUpload: false,
        showCancel: false,
        showRemove: false,
        browseLabel: '&nbsp;Importar',
        allowedFileExtensions: ['mkv', 'avi', 'wmv', 'mp4', 'mpg'],
        browseIcon: '<i class="fa fa-upload"></i>&nbsp;'
    });

    $('.video-file').on('change', function (event) {
        var reader = new FileReader();
        var input = this;
        reader.onload = function (e) {
            var newElement = "<video style='width:100%; height:100%'  src='" + e.target.result + "'></video>";
            $('#preview').html('').append(newElement);
        }
        try {
            reader.readAsDataURL(input.files[0]);
        } catch (e) {
        }

    })
    $('.audio-file').on('change', function (event) {
        var reader = new FileReader();
        var input = this;
        reader.onload = function (e) {
            var newElement = "<audio style='width:100%; height:100%'  src='" + e.target.result + "'></audio>";
            $('#preview').html('').append(newElement);
        }
        try {
            reader.readAsDataURL(input.files[0]);
        } catch (e) {
        }
    })

    function isUrlValid(url) {
        return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
    }

    function getId(url) {
        const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
        const match = url.match(regExp);

        return (match && match[2].length === 11) ? match[2] : null;
    }

</script>
