{% form_theme form 'bootstrap_4_layout.html.twig'  'evaluation/_form_theme.html.twig' 'jquery.collection.html.twig' %}
<div class="card">
    <div class="card-header">
        <h3 class="">Evaluacion: <strong>{{evaluation.title }}</strong></h3>
        <p class="text-muted">Puntaje cuestionario: <strong>{{evaluation.points }}</strong><p>
        <p class="text-muted">Puntaje acumulado: <strong>{{evaluation.accumulated }}</strong><p>
        <p class="text-muted">Puntaje de la pregunta: <strong id="puntaje">0</strong><p>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">{{ form_row(form.title) }}</div>
            <div class="col-md-4">{{ form_row(form.type) }}</div>
            <div id="choices-container"
                 class="col-md-12">{{ form.choices is defined ? form_row(form.choices) : '' }}</div>
            <div id="single-container"
                 class="col-md-12">{{ form.singleQuestions is defined ? form_row(form.singleQuestions) : '' }}</div>
            <div class="col-md-12 mt-4">
                <button type="submit" class="btn" style="background-color: {{ colors()['primary'] }}; color:white;"><i
                            class="fa fa-save"></i> Guardar
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<script>
    $(function () {
        $('#ChoiceForm_type').change(function () {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            let currentOption = $(this).val();
            var data = {};
            data[$(this).attr('name')] = currentOption;
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    $('#choices-container').replaceWith(
                        $(html).find('#choices-container')
                    );
                     $('#single-container').replaceWith(
                        $(html).find('#single-container')
                    );
                    $('.choice-collection').collection({
                        add: `<a class="btn btn-primary m-3" style="max-width: 190px;" href="#"><i class="fa fa-plus"></i> Adicionar Pregunta</a>`,
                        remove: `<a class="btn btn-link pull-right cortex-collection-icon" href="#"><i class="fa fa-trash text-red"></i></a>`,
                        allow_up: false,
                        allow_down: false,
                        allow_duplicate: false,
                        add_at_the_end: true,
                        position_field_selector: '.choice-counter',
                        after_add: function(){
                            $('input.choice-value').change(function(){
                                $('#puntaje').html(calculateValues());
                            })
                        }
                    });
                    $('.singleQuestion-collection').collection({
                        add: `<a class="btn btn-primary m-3" style="max-width: 190px;" href="#"><i class="fa fa-plus"></i> Adicionar Pregunta</a>`,
                        remove: `<a class="btn btn-link pull-right cortex-collection-icon" href="#"><i class="fa fa-trash text-red"></i></a>`,
                        allow_up: false,
                        allow_down: false,
                        allow_duplicate: false,
                        add_at_the_end: true,
                        position_field_selector: '.single-counter',
                    });
                    if (currentOption === '{{ constant("App\\Entity\\Question::QUESTION_TYPE_UNIQ_SELECT_SELECTION") }}') {
                        $('form[name="ChoiceForm"]').unbind('submit');
                        $('form[name="ChoiceForm"]').on('submit', function (event) {
                            const form = $(this)
                            let count = counter();
                            let values = calculateValues();
                            if (count == 1) {
                                if (values <= {{ evaluation.points }} - {{ evaluation.accumulated }}) {
                                    app.forms.submit(form, function (response) {
                                            if (response.type === 'success') {
                                                $.alert({
                                                    title: 'Información',
                                                    content: response.message,
                                                });
                                                app.unit.form.updateActivities();
                                                app.dialogs.close(form);
                                            } else {
                                            }
                                        },
                                        event);
                                } else {
                                    event.preventDefault();
                                    toastr.error('La sumatoria de los puntos de todas las preguntas debe menor o igual a ' +{{ evaluation.points }})
                                }
                            } else {
                                event.preventDefault();
                                toastr.error('Las preguntas de selección única deben contener exactamente una opción correcta')
                            }
                        })
                    } else if (currentOption === '{{ constant("App\\Entity\\Question::QUESTION_TYPE_MULTI_SELECTCTION") }}') {
                        $('form[name="ChoiceForm"]').unbind('submit');
                        $('form[name="ChoiceForm"]').on('submit', function (event) {
                            const form = $(this)
                            let count = counter();
                            let values = calculateValues();
                            if (count >= 2) {
                                if (values <= {{ evaluation.points }} - {{ evaluation.accumulated }}) {
                                    app.forms.submit(form, function (response) {
                                            if (response.type === 'success') {
                                                $.alert({
                                                    title: 'Información',
                                                    content: response.message,
                                                });
                                                app.unit.form.updateActivities();
                                                app.dialogs.close(form);
                                            } else {
                                            }
                                        },
                                        event);
                                } else {
                                    event.preventDefault();
                                    toastr.error('La sumatoria de los puntos de todas las preguntas debe menor o igual a ' +{{ evaluation.points }})
                                }
                            } else {
                                event.preventDefault();
                                toastr.error('Las preguntas de selección multiple deben contener más de dos dos respuestas correctas')
                            }
                        })
                    } else if (currentOption === '{{ constant("App\\Entity\\Question::QUESTION_TYPE_TRUE_OR_FALSE") }}') {
                        $('form[name="ChoiceForm"]').unbind('submit');
                        $('form[name="ChoiceForm"]').on('submit', function (event) {
                            const form = $(this)
                            let values = calculateValues();
                            if (values <= {{ evaluation.points }} - {{ evaluation.accumulated }}) {
                                app.forms.submit(form, function (response) {
                                        if (response.type === 'success') {
                                            $.alert({
                                                title: 'Información',
                                                content: response.message,
                                            });
                                            app.unit.form.updateActivities();
                                            app.dialogs.close(form);
                                        } else {
                                        }
                                    },
                                    event);
                            } else {
                                event.preventDefault();
                                toastr.error('La sumatoria de los puntos de todas las preguntas debe menor o igual a ' +{{ evaluation.points }})
                            }
                        })
                    } else if (currentOption === '{{ constant("App\\Entity\\Question::QUESTION_TYPE_OPEN_TEXT") }}') {
                        $('form[name="ChoiceForm"]').unbind('submit');
                        $('form[name="ChoiceForm"]').on('submit', function (event) {
                            const form = $(this)
                            let values = calculateValues();
                            app.forms.submit(form, function (response) {
                                    if (response.type === 'success') {
                                        $.alert({
                                            title: 'Información',
                                            content: response.message,
                                        });
                                        app.unit.form.updateActivities();
                                        app.dialogs.close(form);
                                    } else {
                                    }
                                },
                                event);
                        })
                    }
                }
            });
        });
    })

    function counter() {
        let count = 0;
        $('input.checker').each(function () {
            if ($(this).is(':checked'))
                count++;
        });
        return count;
    }

    function calculateValues() {
        let count = 0;
        $('input.choice-value').each(function () {
            count += parseInt($(this).val());
        });
        console.log(count)
        return count;
    }
</script>