{% form_theme form 'bootstrap_4_layout.html.twig'  'evaluation/_form_theme.html.twig' 'jquery.collection.html.twig' %}

<div class="card" xmlns="">
    <div class="card-header">
        <h1>Editar evaluación</h1>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.title) }}</div>
            <div class="col-md-6">{{ form_row(form.objective) }}</div>

            <div class="col-md-4">{{ form_row(form.attempts) }}</div>
            <div class="col-md-4">{{ form_row(form.percentage) }}</div>
            <div class="col-md-4">{{ form_row(form.time) }}</div>

            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.requirements) }}</div>

            <div class="col-md-12 pt-3">
                <button class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-plus-circle"></i> {{ button_label|default('Guardar') }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<script>
    $(function (){
        $('form[name="evaluationForm"]').on('submit', function(event){
            const form = $(this)
            app.forms.submit(form,function(response){
                if(response.type === 'success'){
                    $.alert({
                        title: 'Información',
                        content: response.message,
                    });
                    app.unit.form.updateActivities();
                    app.dialogs.close(form);
                }else{}},event);
        })
    })
</script>