{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Objective</th>
                <th>Attempts</th>
                <th>Email</th>
                <th>Requirements</th>
                <th>Percentage</th>
                <th>Time</th>
                <th>Uuid</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.title }}</td>
                <td>{{ evaluation.objective }}</td>
                <td>{{ evaluation.attempts }}</td>
                <td>{{ evaluation.email }}</td>
                <td>{{ evaluation.requirements ? 'Yes' : 'No' }}</td>
                <td>{{ evaluation.percentage }}</td>
                <td>{{ evaluation.time }}</td>
                <td>{{ evaluation.uuid }}</td>
                <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.updatedAt ? evaluation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>
{% endblock %}
