{% extends 'layout.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}
    {% set points = getPoints(evaluation) %}
    {% set approved = points['points'] >= points['max'] %}
    <div class="card" xmlns="">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    {{ evaluation.title |upper }}
                </div>
                <div class="col-md-4 text-center">
                    {% set is_writable = answer.attemptsMade < evaluation.attempts and not approved %}
                    {% if exist %}
                        <h3>Puntos: {{ points['points'] }}/{{ evaluation.points }}</h3>
                        <h3>{{ points['status'] | raw }}</h3>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h4>Intentos disponibles: {{ evaluation.attempts - answer.attemptsMade }}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% for question in evaluation.questions %}
            {# {{dump(question)}} #}
                <div class="card">
                    <div class="card-title">
                        {% if question.type == constant("App\\Entity\\Question::QUESTION_TYPE_OPEN_TEXT") %}
                            <p class="text-info"><em><i class="fa fa-exclamation-triangle"></i><strong>Texto Abierto:</strong> Escriba su respuesta</em> </p>
                        {% elseif question.type == constant("App\\Entity\\Question::QUESTION_TYPE_TRUE_OR_FALSE") %}
                            <p class="text-info"><em><i class="fa fa-exclamation-triangle"></i> <strong>Verdadero o Falso:</strong> Marque solo las opciones que considere sean verdaderas</em></p>
                        {% elseif question.type == constant("App\\Entity\\Question::QUESTION_TYPE_MULTI_SELECTCTION") %}
                            <p class="text-info"><em><i class="fa fa-exclamation-triangle"></i> <strong>Selección Múltiple:</strong> Marque las opciones correctas</em></p>
                        {% elseif question.type == constant("App\\Entity\\Question::QUESTION_TYPE_UNIQ_SELECT_SELECTION") %}
                            <p class="text-info"><em><i class="fa fa-exclamation-triangle"></i> <strong>Selección Única:</strong> Marque solo una respuesta</em></p>
                        {% endif %}
                        {{ question.title }}
                    </div>
                    <div class="card-body">
                        <form id="answerForm" action="#">
                            <ul class="navbar-nav">
                                {% set answerQuestion = (loop.index - 1) in answer.answerQuestions|keys ? answer.answerQuestions[loop.index - 1] : null %}
                                {% for choice in question.choices %}
                                    <li class="nav-item">
                                        <div class="form-check">
                                            <input data-choice-answer-id="{{ answerQuestion.choicesAnswers[loop.index - 1].id }}"
                                                   class="choice-check form-check-input" type="checkbox"
                                                   value="{{ choice.value }}"
                                                    {% if exist %}
                                                        {% if answerQuestion.choicesAnswers[loop.index - 1].isSelected and not is_writable and not approved %}
                                                            checked
                                                        {% endif %}
                                                        {% if not is_writable %}
                                                            disabled="disabled"
                                                        {% endif %}
                                                    {% endif %}
                                                   id="choice-{{ choice.id }}">
                                            <label class="form-check-label" for="choice-{{ choice.id }}">
                                                {{ choice.name }}
                                            </label>
                                            {% if
                                                not is_writable
                                                and exist
                                                and answerQuestion.choicesAnswers[loop.index - 1].isSelected
                                                and answerQuestion.choicesAnswers[loop.index - 1].choice.isCorrect %}
                                                <i class="fa fa-check-circle text-success"></i>
                                                +{{ answerQuestion.choicesAnswers[loop.index - 1].choice.value }} puntos
                                            {% elseif
                                                not is_writable
                                                and exist
                                                and answerQuestion.choicesAnswers[loop.index - 1].isSelected
                                                and not answerQuestion.choicesAnswers[loop.index - 1].choice.isCorrect %}
                                                <i class="fa fa-times-circle text-danger"></i>
                                                -{{ answerQuestion.choicesAnswers[loop.index - 1].choice.value }} puntos
                                             {% elseif
                                                not is_writable
                                                and exist
                                                and not answerQuestion.choicesAnswers[loop.index - 1].isSelected
                                                and answerQuestion.choicesAnswers[loop.index - 1].choice.isCorrect %}
                                                <i class="fa fa-times-circle text-danger"></i>
                                                -{{ answerQuestion.choicesAnswers[loop.index - 1].choice.value }} puntos
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for singleQuestion in question.singleQuestions %}
                                    <li class="nav-item">
                                        <div class="form-group">
                                            <label for="single-{{ singleQuestion.id }}">{{ singleQuestion.text }}</label>
                                            <textarea
                                                    data-choice-answer-id="{{ answerQuestion.choicesAnswers[loop.index - 1].id }}"
                                                    required
                                                    {% if not is_writable %}
                                                        disabled="disabled"
                                                    {% endif %}
                                                    class="form-control choice-text"
                                                    id="single-{{ singleQuestion.id }}"
                                                    rows="3">{% if exist  and not is_writable and not approved %}{{ answerQuestion.choicesAnswers[loop.index - 1].singleAnswerText ? answerQuestion.choicesAnswers[loop.index - 1].singleAnswerText:'' }}{% endif %}</textarea>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% if is_writable %}
                <a href="#" class="send btn" style="background-color: {{ colors()['success'] }}; color:white;"><i class="fa fa-paper-plane"></i> Enviar</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        const EVALUATION_ID = '{{ evaluation.id }}'
        const ANSWER_ID = '{{ answer.id }}'
    </script>
    {{ encore_entry_script_tags('answers.index') }}
{% endblock %}
