<div class="card">
    <div class="card-header">
        Evaluaciones
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Título</th>
                <th>Correo</th>
                <th>Preguntas</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.title }}</td>

                    <td>{{ evaluation.email }}</td>
                    <td>
                        <u>
                            {% for question in evaluation.questions %}
                                <li><i class="fa fa-edit"></i><a class="edit-question" href="{{ path('edit-question', {'id': question.id}) }}">{{ question.title }}</a></li>
                            {% endfor %}
                        </u>
                    </td>
                    <td>
                        <a href="{{ path('evaluation_add_question', {'uuid': evaluation.uuid}) }}" class="text-primary add-question" data-tippy-content="Adicionar preguntas"><i class="fa fa-plus-circle"></i></a>
                        <a href="{{ path('evaluation_edit', {'uuid': evaluation.uuid}) }}" class="text-info edit-question" data-tippy-content="Editar"><i class="fa fa-edit"></i></a>
                        <a href="{{ path('evaluation_delete', {'id': evaluation.id}) }}" class="delete-question text-danger" data-tippy-content="Eliminar"><i class="fa fa-trash"></i></a>
                        {% if evaluation.certificate %}
                            <a href="{{ path('certificate_new', {'id': evaluation.id}) }}" class="certificate text-info" data-tippy-content="Generar certificado"><i class="fa fa-certificate"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Aún no hay evaluaciones</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function (){
        $('.delete-question').on('click', function (event){
            const scope = $(this)
            app.dialogs.confirm({
                event: event,
                onAccept : function (){
                    $.ajax({
                        url : scope.attr('href'),
                        type: 'DELETE',
                        success: (response) => {
                            if (response.type === 'success') {
                                toastr.success(response.message)
                                app.unit.form.updateActivities();
                            }
                        }
                    })
                }
            })
        })
        $('.add-question, .edit-question, .certificate').on('click',function (event){
            event.preventDefault();
            const scope = $(this)
            app.dialogs.create({
                url:scope.attr('href'),
                columnClass : 'col-md-10 offset-md-1'
            })
        })
    })
</script>
