{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New User Group
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h1>Editar grupo de usuarios</h1>
		</div>
			<div class="card-body">
			{{ form_start(form) }}
			<div class="row">
				<div class="col-md-3">{{ form_row(form.groupName) }}</div>
				<div class="col-md-3">{{ form_row(form.startDate) }}</div>
				<div class="col-md-3">{{ form_row(form.modality) }}</div>
				<div class="col-md-3">{{ form_row(form.course) }}</div>
				<div class="col-md-12">
					{{ form_row(form.details) }}
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">Invitación a reunión</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-2">{{ form_row(form.chatDate)}}</div>
								<div class="col-md-2">{{ form_row(form.hour)}}</div>
								<div class="col-md-8">{{ form_row(form.videoLink)}}</div>
							</div>
						</div>
					</div
				</div>
				<div class="row">
					<div class="col-md-6">
					<div class="input-group">
                        <input id="url" type="text" readonly class="form-control" value="{{group.invitation}}">
                        <div class="input-group-prepend">
                            <button onclick="copy1()" type="button" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;">Copiar invitación</button>
                        </div>
                    </div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
                        <input id="code" type="text" readonly class="form-control" value="{{group.uuid}}">
                        <div class="input-group-prepend">
                            <button onclick="copy2()" type="button" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;">Copiar código</button>
                        </div>
                    </div>
				</div>
				</div>
				<div class="col-md-3">
					<a href="{{asset('utiles/formato_invitados.xlsx')}}" donwload class="text-info"><i class="fa fa-download"></i> Descargar formato</a>
					{{ form_row(form.file) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<button type="submit" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white">
						<i class="fa fa-save"></i> 
						Guardar
					</button>
				</div>
			</div>
			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script>
	function copy1() {
			/* Get the text field */
			var copyText = document.getElementById("url");

			/* Select the text field */
			copyText.select();
			copyText.setSelectionRange(0, 99999); /* For mobile devices */

			/* Copy the text inside the text field */
			document.execCommand("copy");

			toastr.success('Enlace copiado!')
		} 
		function copy2() {
			/* Get the text field */
			var copyText = document.getElementById("code");

			/* Select the text field */
			copyText.select();
			copyText.setSelectionRange(0, 99999); /* For mobile devices */

			/* Copy the text inside the text field */
			document.execCommand("copy");

			toastr.success('Código copiado!')
		} 
		$(function () {
			app.plugins.initSelect2('#user_group_course');
			app.plugins.initSelect2('#user_group_modality')
			 $("#user_group_startDate").datepicker({
				format: "DD/MM/YYYY",
				changeYear: true,
				yearRange: "-0:+100",
			});
		})
	</script>
{% endblock %}
