{% extends 'layout.html.twig' %}

{% block title %}Aceptar invitación{% endblock %}

{% block body %}
<div class="col-md-12 pt-5 text-center">
    <div class="card mt-5" style="width: 500px; margin: 0 auto 0 auto">
    <div class="card-header">
        <h3>Invitación al grupo <strong> {{userGroup.groupName}} </strong></h3>
        <p>Ahora podrás acceder al contenido de este grupo</p>
    </div>
    <div class="card-body">
        {% if exist is not null %}
            <a href="{{path('book_show',{uuid:userGroup.course.uuid })}}" class="btn btn-warning btn-lg"><i class="fa fa-check-double"></i>VER CURSO</a>
        {% else %}
            <a href="#" class="acept btn btn-success btn-lg"><i class="fa fa-check-double"></i> ACEPTAR INVITACIÓN</a>
        {% endif %}
    </div>
    <div class="card-footer">
        <p class="text-muted mt-2">Código del grupo: <span id="">{{userGroup.uuid}}</span>  <a href="#" onclick="copy()" data-tippy-content="Copiar código"><i class="fa fa-copy"></i></a></p>
        <input type="text" style="display: none;" id="code" value="{{userGroup.uuid}}">
    </div>
</div
</div>
{% endblock %}

{% block javascripts %}
    <script>
        function copy() {
                /* Get the text field */
                var copyText = document.getElementById("code");

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                /* Copy the text inside the text field */
                document.execCommand("copy");

                toastr.success('Enlace copiado!')
		    }
        $(document).ready(function(){
             
            $('.acept').click(function(event){
                event.preventDefault();
                $.ajax({
                    url:Routing.generate('invitation-link',{uuid: '{{userGroup.uuid}}' }),
                    type:'post',
                    success: (data) =>{
                        location.href = data.url;
                    }
                })
            })
        })
    </script>
{% endblock %}
