{% extends 'layout.html.twig' %}

{% block title %}Temas index{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1>Temas</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for school_stage in school_stages %}
                    <tr>
                        <td>{{ school_stage.name }}</td>
                        <td>
                            <a href="{{ path('school_stage_edit', {'id': school_stage.id}) }}" class="btn" style="background-color: {{ colors()['info'] }}; color:white;"><i class="fa fa-edit"></i></a>
                            <a href="{{ path('school_stage_delete', {'id': school_stage.id}) }}" class="btn btn-danger confirm action-delete" ><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('school_stage_new') }}" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-plus"></i> Adicionar</a>
        </div>
    </div>

{% endblock %}
