{% extends 'base.html.twig' %}

{% block title %}SchoolStage{% endblock %}

{% block body %}
    <h1>SchoolStage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school_stage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ school_stage.name }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ school_stage.uuid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('school_stage_index') }}">back to list</a>

    <a href="{{ path('school_stage_edit', {'id': school_stage.id}) }}">edit</a>

    {{ include('school_stage/_delete_form.html.twig') }}
{% endblock %}
