{% extends 'layout.html.twig' %}

{% block title %}Slide index{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Diapositivas</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for slide in slides %}
                    <tr>
                        <td>{{ slide.title }}</td>
                        <td>{{ slide.shortDescription }}</td>
                        <td>
                            <a href="{{ path('slide_show', {'id': slide.id}) }}" class="btn" style="background-color: {{ colors()['success'] }}; color:white;"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('slide_edit', {'id': slide.id}) }}" class="btn "  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('slide_new') }}" class="btn"  style="background-color: {{ colors()['primary'] }}; color:white;"><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
    </div>
{% endblock %}
