{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
    <button class="btn" style="background-color: {{ colors()['success'] }}; color:white;"><i class="fa fa-save"></i> {{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
<hr>
