{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .content{
            padding: 0;
        }
		.img-resized{
			height: 200px;
		}
    </style>
{% endblock %}
{% block main %}
	<main class="content">
    {{ include('partials/top-menu.html.twig') }}
		<div class="main">
			<div class="container pt-5">
				<div class="row">
					{% for item in books %}
						<div class="col-12 col-md-4 col-lg-3">
							<div class="card">
								<img class="card-img-top img-resized" src="{{ vich_uploader_asset(item.portada , 'imagenFile') }}" alt="Unsplash">
								<div class="card-header">
									<h5 class="card-title mb-0">{{ item.title }}</h5>
								</div>
								<div class="card-body">
									<p class="card-text">{{ item.level }}</p>
									<a href="{{ path('book_show', { 'uuid': item.uuid }) }}" class="btn btn-pill btn-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye align-middle mr-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                     Detalles </a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
