{% extends 'layout.html.twig' %}

{% block title %}
	{{book.title}}
{% endblock %}

{% block body %}
	<h1>{{ book.title }}</h1>
	<div class="row">
		<div class="col-4 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ vich_uploader_asset(book.portada , 'imagenFile') }}" alt="Unsplash">
				<div class="card-header">
					<h5 class="card-title mb-0">{{ book.title }}</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{ book.level }}</p>
				</div>
			</div>
		</div>
		<div class="col-4 col-md-5">
			<div id="accordion">
				{% for item in book.units %}
					<div class="card">
						<div id="heading-{{item.uuid}}" class="card-header">
							<h5 class="mb-0">

								<button class="btn btn-link">	
									<i class="fa fa-book-open"></i> {{ item.name }}
								</button>
								 
								<button class="btn btn-warning btn-sm pull-right ml-3 mt-1" data-toggle="collapse" data-target="#e{{item.id}}" aria-expanded="true" aria-controls="e{{item.id}}">	
									<i class="fa fa-list"></i> Recursos
								</button>
								<a href="{{ path('unit_show', {'uuid': item.uuid}) }}" target="_blank"  class="btn btn-success btn-sm pull-right mt-1">
								<i class="fas fa-file-pdf"></i> 
									Ingresar
								</a>
							
							</h5>
						</div>
						<div id="e{{item.id}}" class="collapse" aria-labelledby="heading-{{item.uuid}}" data-parent="#accordion">
							<div class="card-body">
								{% for activity in item.activities %}
								{% if activity.file %}
									<h6 class="">
										<a href="{{path('show_resource',{id:activity.id})}}" class="show-details"> <i class="fa {{getIcon(activity.file.mimeType)}}"> </i>
										{{activity.name}}
										</a>

										Pag. {{activity.page}}
									</h6>
								{%endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr class="m-2">
			<h3 class="text-center">Introducción</h3>
			{{book.metadata ? book.metadata.introduction|raw : ''}}
		</div>
		<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<p> <i class="fa fa-home"></i> Dedicación</p>
							 </div>
							 <div class="col-md-6">
							 	{{book.metadata ? book.metadata.dedication : ''}}
							 </div>

							 <div class="col-md-6">
								<p> <i class="fa fa-university"></i> Institución</p>
							 </div>
							 <div class="col-md-6">
							 	<a href="{{ book.metadata ? book.metadata.intitution.web | external_link : '#'}}" >
								 {{  book.metadata ? book.metadata.intitution.name : ''}}
								 </a>
							 </div>

							<div class="col-md-6">
								<p> <i class="fa fa-list-alt"></i> Categoría</p>
							 </div>
							 <div class="col-md-6">
							 	{{book.category}}
							 </div>

							<div class="col-md-6">
								<p> <i class="fa fa-arrow-up"></i> Nivel</p>
							 </div>
							 <div class="col-md-6">
							 	{{book.level}}
							 </div>

							<div class="col-md-6">
								<p> <i class="fa fa-language"></i> Lenguaje</p>
							 </div>
							 <div class="col-md-6">
							 	{{ book.metadata ? book.metadata.language : ''}} 
							 </div>

							 <div class="col-md-6">
								<p> <i class="fa fa-video"></i> Tipo de transcripción de video</p>
							 </div>
							 <div class="col-md-6">
							 	{{ book.metadata ? book.metadata.transcription :''}} 
							 </div>

							 <div class="col-md-6">
								<p> <i class="fa fa-users"></i> Tipo de curso</p>
							 </div>
							 <div class="col-md-6">
							 	{{ book.metadata ? book.metadata.learning : ''}} 
							 </div>

							  <div class="col-md-6">
								<p> <i class="fa fa-user"></i> Autor</p>
							 </div>
							 <div class="col-md-6">
							 	{{ book.metadata ? book.metadata.author : ''}} 
							 </div>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$('.show-details').on('click', function(event){
				event.preventDefault();
				const scope = $(this);
				app.dialogs.create({
					url: scope.attr('href'),
				})
			})
		})
	</script>
{% endblock %}
