<div class="card">
    <div class="card-body">
        {{ sg_datatables_render_html(datatable) }}
        {{sg_datatables_render_js(datatable)}}
    </div>
</div>


<script>
    $(document).on('click', '.action-export', function (event) {

            event.preventDefault();

            const scope = $(this);

        app.dialogs.create({
            url: scope.attr('href'),
            columnClass:'col-md-8',
            containerFluid:true
        })

        });
      $('#sg-datatables-{{ datatable.uniqueId }}').off('click').on('click', '.action-evaluate', function (event) {

        event.preventDefault();

        const scope = $(this);
        

        $.ajax({
            url: scope.data('url'),
            type: 'POST',
            success: (data) => {
                if (data.data === true) {
                    app.dialogs.confirm({
                        message: 'La tarea ya fue calificada, <br> ¿Desea cambiar la nota?',
                        onAccept: function () {
                            app.dialogs.create({
                                url: scope.attr('href') + '?uniq={{datatable.uniqueName}}'
                            })
                        }
                    });
                } else {
                    app.dialogs.create({
                        url: scope.attr('href') + '?uniq={{datatable.uniqueName}}'
                    })
                }
            }
        })
    });
</script>