<div class="card">
    <div class="card-header">
        <h3>Asunto: {{ mail.subject }}</h3>
    </div>

    <div class="card-body">
        <h4>Contenido</h4>
        {{ mail.context |raw}}
    </div>

    <div class="card-footer">
        <p class="text-muted">Fecha de envío: {{ mail.createdAt ? mail.createdAt|date('Y-m-d H:i:s') : '' }}</p>
    </div>
</div>



    {# <h1>Mail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td></td>
            </tr>
            <tr>
                <th>Context</th>
                <td>{{ mail.context }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ mail.uuid }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mail.createdAt ? mail.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ mail.updatedAt ? mail.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
 #}

