{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.firstName) }}
        </div>

        <div class="col-md-4 col-sm-6">
            {{ form_row(form.username) }}
        </div>
         <div class="col-md-4 col-sm-6">
            {{ form_row(form.password) }}
        </div>
         <div class="col-md-4 col-sm-6">
            {{ form_row(form.rolesObject) }}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
