{% extends 'layout.html.twig' %}

{% block title %}Mi clase{% endblock %}


{% block body %}

<div class="card">
	<div class="card-header">
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top img-resized"
						src="{{ vich_uploader_asset(group.course.portada , 'imagenFile') }}" alt="Unsplash">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mb-3">
									<strong>{{ group.course.title }}</strong>
								</h3>
							</div>
							<div class="col-md-12">
								<h4>{{group.groupName}}</h4>
								<p class="text-muted">Fecha: {{ group.startDate|date('d/m/Y') }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
						href="#list-home" role="tab" aria-controls="home"><i class="fa fa-copy"></i> Copiar
						invitación</a>
					<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
						href="#list-profile" role="tab" aria-controls="profile"><i class="fa fa-users"></i> Mis
						estudiantes</a>
					<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
						href="#list-messages" role="tab" aria-controls="messages"><i class="fa fa-paper-plane"></i> Mis
						comunicaciones</a>
					<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
						href="#list-settings" role="tab" aria-controls="settings"><i class="fa fa-book-reader"></i>
						Control de trabajos</a>

				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="list-home" role="tabpanel"
						aria-labelledby="list-home-list">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
									<input id="url" type="text" readonly class="form-control"
										value="{{group.invitation}}">
									<div class="input-group-prepend">
										<button onclick="copy1()" type="button" class="btn"
											style="background-color: {{ colors()['primary'] }}; color:white;">Copiar
											invitación</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
									<input id="code" type="text" readonly class="form-control" value="{{group.uuid}}">
									<div class="input-group-prepend">
										<button onclick="copy2()" type="button" class="btn"
											style="background-color: {{ colors()['primary'] }}; color:white;">Copiar
											código</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
						<div class="card">
							<div class="card-header">
								<h3>Mis studiantes</h3>
							</div>
							<div class="card-body">
								{{ sg_datatables_render_html(userDatatable) }}
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
						<div class="panel loading-data">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12 no-padding" style="height:100%;background-color: white">
										<div class="text-center" style="padding: 50px">
											<i class="fa fa-spin fa-2x fa-spinner"></i>
											<h3 style="display:inline"> Cargando Información...</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#recibidos" role="tab"
									aria-controls="recibidos" aria-selected="true">
									Deberes recibidos
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="code-tab" data-toggle="tab" href="#code-users" role="tab"
									aria-controls="profile" aria-selected="false">
									Deberes no cumplidos
								</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active p-1" id="recibidos" role="tabpanel"
								aria-labelledby="home-tab">
								<div class="card">
									<div class="card-body">
										<div class="panel loading-data">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12 no-padding"
														style="height:100%;background-color: white">
														<div class="text-center" style="padding: 50px">
															<i class="fa fa-spin fa-2x fa-spinner"></i>
															<h3 style="display:inline"> Cargando Información...</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade p-1" id="code-users" role="tabpanel"
								aria-labelledby="profile-tab">
								<div class="card">
									<div id="tab-2" class="card-body">
										<div class="panel loading-data">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12 no-padding"
														style="height:100%;background-color: white">
														<div class="text-center" style="padding: 50px">
															<i class="fa fa-spin fa-2x fa-spinner"></i>
															<h3 style="display:inline"> Cargando Información...</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{ sg_datatables_render_js(userDatatable) }}
<script type="text/javascript">
	$(document).on('click', '.action-evaluate', function (event) {

        event.preventDefault();

        const scope = $(this);
        

        $.ajax({
            url: scope.data('url'),
            type: 'POST',
            success: (data) => {
                if (data.data === true) {
                    app.dialogs.confirm({
                        message: 'La tarea ya fue calificada, <br> ¿Desea cambiar la nota?',
                        onAccept: function () {
                            app.dialogs.create({
                                url: scope.attr('href') + '?uniq={{datatable.uniqueName}}'
                            })
                        }
                    });
                } else {
                    app.dialogs.create({
                        url: scope.attr('href') + '?uniq={{datatable.uniqueName}}'
                    })
                }
            }
        })
    });
	$(() => {
		$('#code-tab').on('click', function (event) {
			$.ajax({
				url: Routing.generate('no-recived-homework', { uuid: '{{group.uuid}}' }),
				type: 'GET',
				success: (response) => {
					$('#code-users').html(response)
				}
			})
		})
		$('#list-settings-list').on('click', function (event) {
			$.ajax({
				url: Routing.generate('recived-homework', { uuid: '{{group.uuid}}' }),
				type: 'GET',
				success: (response) => {
					$('#recibidos').html(response)
				}
			})
		})
		$('#list-messages-list').on('click', function (event) {
			$.ajax({
				url: Routing.generate('my-mails', { uuid: '{{group.uuid}}' }),
				type: 'GET',
				success: (response) => {
					$('#list-messages').html(response)
				}
			})
		})
	})
	function copy1() {
		/* Get the text field */
		var copyText = document.getElementById("url");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /* For mobile devices */

		/* Copy the text inside the text field */
		document.execCommand("copy");

		toastr.success('Enlace copiado!')
	}
	function copy2() {
		/* Get the text field */
		var copyText = document.getElementById("code");

		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /* For mobile devices */

		/* Copy the text inside the text field */
		document.execCommand("copy");

		toastr.success('Código copiado!')
	}
</script>
{% endblock %}