{% extends 'layout.html.twig' %}
{% import "macros/card-macro.html.twig" as card_macro %}

{% macro actions(book) %}
	<a href="{{path('mail_by_user',{uuid:book.uuid}) }}" class="mail float-right m-1 text-success" data-tippy-content="Ver mensajes"><i class="fa fa-envelope"></i></a>
	{% for item in book.units %}
		{% if item.evaluation is not null and item.evaluation.certificateObj is not null %}
			<a href="{{ path('certificate_generate',{id:item.evaluation.certificateObj.id, user: app.user.id})}}" class="certificate float-right m-1 text-info" data-tippy-content="Certificado"><i class="fa fa-certificate"></i></a>
		{% endif %}	
	{% endfor %}
	<a href="{{path('show_book_users',{id:book.id}) }}" class="mail float-right m-1 text-success" data-tippy-content="Participantes"><i class="fa fa-users"></i></a>
{% endmacro %}

{% import _self as actions_macro %}

{% block title %}Dashboard
{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		.img-resized {
			height: 200px;
		}
	</style>
{% endblock %}

{% block body %}
	<h3 class="text-center">
		<strong>Mis clases</strong>
	</h3>
	<div class="row">
		{% for item in books %}
			<div class="col-12 col-md-4 col-lg-3">
				<div class="card">
					<img class="card-img-top img-resized" src="{{ vich_uploader_asset(item.portada , 'imagenFile') }}" alt="Unsplash">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="mb-3">
									<strong>{{ item.title }}</strong>
								</h3>

							</div>
							<div class="col-md-12">
								{% set group = item.findGroupByUser(app.user) %}
								{% if group is not null %}
									<h4>{{group.groupName}}</h4>
									<p class="text-muted">Fecha: {{ group.startDate|date('d/m/Y') }}</p>
								{% endif %}
								<a href="{{ path('book_show', { 'uuid': item.uuid }) }}" class="btn btn-pill btn-sm" style="background-color: {{ colors()['success'] }}; color:white;">
										Ingresar
								</a>
								{% if group is not null %}
									<a href="{{ path('show_class',{uuid:group.uuid}) }}" class="btn btn-pill btn-sm btn-primary pull-right">Mi clase</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col-12 text-center">
				<h1 class="text-center">Crea tu primer grupo de clases!</h1>
				<a href="{{ path('user_group_create') }}" class="btn" style="background-color: {{ colors()['primary'] }}; color:white;">
					Crear grupo</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(() => {
			$('.certificate, .mail').on('click', function (event){
				event.preventDefault();
				const scope = $(this);
				app.dialogs.create({
					url: scope.attr('href'),
					containerFluid: true,
					columnClass: 'col-md-8'
				})
			})
		})
	</script>
{% endblock %}