{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}User{% endblock %}

{% block body %}
{{ form_start(form) }}
    <main class="content">
        <div class="container-fluid p-0">

            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Detalles</h5>
                        </div>
                        <div class="card-body text-center">
                            {# <img src=" {% if user.avatar %}{{ vich_uploader_asset(user.avatar,'imagenFile') }}{% else %}{% endif %}" alt="{{ user.name }}" class="img-fluid rounded-circle mb-2" width="128" height="128" /> #}
                            {{ form_row(form.avatar)}}
                            <h5 class="card-title mb-2">{{ user.name?user.name:'NA' }}</h5>
                            <div class="text-muted mb-2">{{ user.firstName?user.firstName:'NA' }}</div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <h5 class="h6 card-title">Sobre mi</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1"><span data-feather="home" class="feather-sm mr-1"></span> Vive en <a href="#"><span id="liveIn"></span></a></li>
                                <li class="mb-1"><span data-feather="briefcase" class="feather-sm mr-1"></span> Trabaja en <a href="#">{{ user.scoholName?user.scoholName:'NA' }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-xl-9">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Mis Datos</h5>
                        </div>
                        <div class="card-body h-100">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6 col-sm-12">{{ form_row(form.email) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.name) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.firstName) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.country) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.city) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.canton) }}</div>
                                <div class="col-md-6 col-sm-12">{{ form_row(form.scoholName) }}</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
     {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const image_url_defaultPreview = '{{ user.avatar.imagenFile is defined ? vich_uploader_asset(user.avatar , 'imagenFile'):'' }}';
    </script>
	{{ encore_entry_script_tags('profile.form') }}

{% endblock %}
