{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>Promover usuario
		<strong>{{user.name}}</strong>
	</h1>
	{{form_start(form)}}
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					{{form_row(form.rolesObject)}}
				</div>
				<div class="col-md-12 mt-5">
					<button type="submit" class="btn" style="background-color: {{ colors()['primary'] }}; color:white;">
						<i class="fa fa-plus"></i>
						Guardar</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function () {
			app.plugins.initSelect2('#user_promote_rolesObject');
		})
	</script>
{% endblock %}
