{{ form_start(form) }}
<div class="row">
	<div class="col-md-4 mb-3">
		{{ form_row(form.name) }}
	</div>
	<div class="col-md-4 mb-3">
		{{ form_row(form.book) }}
	</div>
	<div class="col-md-4 mb-3">
		{{ form_row(form.pdf) }}
	</div>
	<div class="col-md-12 mb-3">
		<div class="row">
		{{ form_row(form.activities) }}
		</div>
	</div>
	<div class="col-md-4 mb-3">
		<button class="btn " style="background-color: {{ colors()['primary'] }}; color:white;">
			<i class="fa fa-plus-circle"></i>
			{{ button_label|default('Guardar') }}</button>
	</div>
</div>
{{ form_end(form) }}
<br>
