{% extends 'layout.html.twig' %}

{% block title %}Unit{% endblock %}

{% block body %}
    <h1>Unit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ unit.name }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ unit.uuid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('unit_index') }}" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i> Regresar</a>


    {{ include('unit/_delete_form.html.twig') }}
{% endblock %}
